* {
    box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/wallpaper.jpg);
}

header {
    height: 200px;
    background-color: black;
}


header h1{
    color:red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    text-align: center;
    padding-top: 30px;
}

.clear {
    clear: left;
}
.create_button {
    color: green;
    box-sizing: 30px;
    margin: auto;
    cursor: pointer;
    max-width: max-content;
}

.error  {
    color: red;
    text-align: center;
    font-size: 50px;
    padding-top: 200px;
    text-decoration: underline;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.login_wrapper {
    text-align: center;
}

.login_button, .create_button {
    text-align: center;
    cursor: pointer;
    padding-top: 15px;
}

.login_button button, .create_button button {
    border-radius: 4px;
    background-color: #409b3c;
    color: white;
    opacity: 0.8;
    font-size: 20px;
    padding: 8px 24px;
    box-shadow: 0 4px #1a7940;
}

.login_button button:active, .create_button button:active{
    position: relative;
    top:4px;
    box-shadow: none;
}

.new_account {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 30px;
    padding-top: 200px;
    padding-left: 470px;
    padding-bottom: 20px;
}

.password {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.password input[type=password], .password_2 input[type=password] {
    border: 1px solid #ccc;
    color: black;
    font-size: 30px;
    border-radius: .2em;
}

.password_2 {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

.registeration {
    margin: auto;
    width: max-content;
    font-size: 20px;
    padding-top: 20px;
}

.role {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: blue;
}

.role select {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.username {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.username input[type="text"]{
    border: 1px solid #ccc;
    color: black;
    font-size: 30px;
    border-radius: .2em;
}

.search {
    float: right;
}

.sub_header {
    width: 100%;
    height: 50px;
    background-color: rgba(34, 49, 52, 0.6);
}

.new_thread a, .logout a, .search span, .back_home a, .back_thread a, .new_message a{
    text-decoration: none;
    line-height: 50px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: 0.5s;
}

.new_thread a:hover, .logout a:hover, .back_home a:hover, .back_thread a:hover,.new_message a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.search input[type="text"] {
    height: 50px;
    background-color: transparent;
    border: none;
    color: black;
    display: block;
    transition: 0.5s;
    float: right;
}

.search input[type="text"]:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.search input[type="text"]:focus {
    background-color: white;
}

.search ::placeholder {
    color: white;
}

.search button {
    display: none;
}

.thread {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 70px;
}

.topic {
    font-weight: bold;
    font-size: 24px;
    overflow-wrap: break-word;
    width: 80%;
}

.to_thread, .edit_thread, .delete_thread, .creator {
    float: left;
}

.comments{
    float: right;
    margin-left: 5px;
}

.created_at, .views {
    float: right;
}

.login_form {
    padding-top: 70px;
}

.account_form {
    height: 600px;
    border-radius: 4px;
}

.thread_topic{
    text-align: center;
    font-size: 40px;
}

.message {
    border-bottom: 1px solid black;
    clear: left;
    padding-top: 5px;
    position: relative;
}

.message_sender span, .message_topic span {
    font-weight: bold;
}

.message_content {
    padding: 50px 30px;
}

.message_content_text {
    width: 100%;
    display: inline-block;
    overflow-wrap: break-word;
}

.message_created_at {
    position: absolute;
    bottom: 3px;
    right: 0;
}

.unliked_like-button button{
    background-color: transparent;
    color: grey;
    float: left;
}

.liked_like-button button {
    background-color: transparent;
    color: blue;
    float: left;
}

.unliked_like-button, .liked_like-button, .like_count, .edit_message, .delete_message {
    float: left;
    padding-bottom: 5px;
}

.edit_message {
    padding-right: 10px;
}

.like_count {
    padding: 2px 0 0 5px;
}

.keyword {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.keyword_text {
    font-weight: normal;
    font-size: 16px;
}

.create_thread, .update_thread {
    text-align: center;
    padding-top: 200px;
}

.create_thread p, .update_thread p, .create_message p, .update_message p {
    font-size: 30px;
}

.create_thread textarea, .update_thread textarea{
    border-radius: 10px;
    font-size: 20px;
    resize: none;
    padding-top: 13px;
    text-align: center;
}

.create_message, .update_message {
    text-align: center;
    padding-top: 150px;
}

.create_message textarea, .update_message textarea {
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    padding-top: 10px;
    padding-left: 10px;
}