<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width", initial-scale=1>
        <title>Chatmate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css')}}">
    </head>
    <body>
        <div class="header">
            Chatmate
        </div>
        <div class="username">
            <input type="text" placeholder="Käyttäjätunnus" name="username" required>
        </div>
        <div class="password">
            <input type="password" placeholder="Salasana" name="password" required>
        </div>
        <div class="login_button">
            <button type="submit">Kirjaudu sisään</button>
        </div>
        <div class="registeration">
            <a href="/new_account">Luo uusi käyttäjä</a>
        </div>
    </body>
</html>