{% extends "layout.html" %}
{% block sub_header %}
{% if session.username %}
    <div class="sub_header">
        <div class="container">
            <div class="new_thread">
                <a href="/new_thread">Aloita uusi keskustelu</a>
            </div>
            <div class="logout">
                <a href="/logout">Kirjaudu ulos</a>
            </div>
            <div class="profile">
                <a href="/profile">Profiili</a>
            </div>
            <div class="search">
                <form action="/search_result" method="POST">
                    <span class="fa fa-search"></span><input type="text" name="query" placeholder="Haku">
                    <button type="submit">Lähetä</button>
                </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block content %}
{% if session.username %}
    <div class="main">
        <div class="container">
            {% for thread in threads %}
            {% if thread.visible %}
                <div class="clear"></div>
                <div class="thread">
                    <div class="topic">
                        {{thread.topic}}
                    </div>

                    <div class="creator">
                        Luoja: {{thread.username}}
                    </div>
                    
                    <div class="comments">
                        <p><span class="fa fa-comments"></span>: {{thread.message_count}}</p>
                    </div>

                    <div class="views">
                        <p><span class="fa fa-eye"></span>: {{thread.view_count}}</p>
                    </div>
                    <br>
                    <div class="to_thread">
                        <a href="/thread/{{thread.id}}">Siirry keskusteluun</a>
                    </div>
                    
                    {% if thread.username == session.username %}
                    <div class="edit_thread">
                        | <a href="/edit_thread/{{thread.id}}">Muokkaa keskustelun aihetta</a>
                    </div>
                    {% endif %}
                    
                    {% if thread.username == session.username or session.user_role == 2 %}
                    <div class="delete_thread">
                        | <a href="/delete_thread/{{thread.id}}">Poista keskusteluketju</a>
                    </div>
                    {% endif %}
                    
                    <div class="created_at">
                        {{thread.created_at.strftime("%Y-%m-%d %H:%M:%S")}}
                    </div>
                    <div class="clear"></div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

{% else %}
    <div class="login_wrapper">
        <div class="container">
            <form class="login_form" action="/login" method="POST">
                <div class="username">
                    <input type="text" placeholder="Käyttäjätunnus" name="username" required>
                </div>
                <div class="password">
                    <input type="password" placeholder="Salasana" name="password" required>
                </div>
                <div class="login_button">
                    <button type="submit">Kirjaudu sisään</button>
                </div>
            </form>
            <div class="registeration">
                <a href="/new_account">Luo uusi käyttäjä</a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
