<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width", initial-scale=1>
        <title>Chatmate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css')}}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <h1>Chatmate</h1>
        </header>
        {% if session.username %}
        <div class="sub_header">
            <div class="container">
                <div class="new_thread">
                    <a href="/new_thread">Aloita uusi keskustelu</a>
                </div>
                <div class="logout">
                    <a href="/logout">Kirjaudu ulos</a>
                </div>
                <div class="search">
                    <form action="/search_result" method="POST">
                        <span class="fa fa-search"></span><input type="text" name="query" placeholder="Haku">
                        <button type="submit">Lähetä</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="container">
                {% for thread in threads %}
                {% if thread.visible %}
                <div class="thread">
                    <div class="topic">
                        {{thread.topic}}
                    </div>

                    <div class="creator">
                        Luoja: {{thread.username}}
                    </div>
                    
                    <div class="comments">
                        <p><span class="fa fa-comments"></span>: {{thread.message_count}}</p>
                    </div>

                    <div class="views">
                        <p><span class="fa fa-eye"></span>: {{thread.view_count}}</p>
                    </div>
                    <br>
                    <div class="to_thread">
                        <a href="/thread/{{thread.id}}">Siirry keskusteluun</a>
                    </div>
                    
                    {% if thread.username == session.username %}
                    <div class="edit_thread">
                        | <a href="/edit_thread/{{thread.id}}">Muokkaa keskustelun aihetta</a>
                    </div>
                    {% endif %}
                    
                    {% if thread.username == session.username or session.user_role == 2 %}
                    <div class="delete_thread">
                        | <a href="/delete_thread/{{thread.id}}">Poista keskusteluketju</a>
                    </div>
                    {% endif %}
                    
                    <div class="created_at">
                        {{thread.created_at.strftime("%Y-%m-%d %H:%M:%S")}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        
        <div class="login_wrapper">
            <div class="container">
                <form class="login_form" action="/login" method="POST">
                    <div class="username">
                        <input type="text" placeholder="Käyttäjätunnus" name="username" required>
                    </div>
                    <div class="password">
                        <input type="password" placeholder="Salasana" name="password" required>
                    </div>
                    <div class="login_button">
                        <button type="submit">Kirjaudu sisään</button>
                    </div>
                </form>
                <div class="registeration">
                    <a href="/new_account">Luo uusi käyttäjä</a>
                {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>