{% extends "layout.html" %}
{% block sub_header %}
<div class="sub_header">
    <div class="container">
        <div class="back_home">
            <a href="/"><span class="fa fa-home"></span></a>
        </div>
        {% if session.username %}
            <div class="back_thread">
                <a href="/thread/{{thread.id}}">Palaa keskusteluun</a>
            </div>
            <div class="logout">
                <a href="/logout">Kirjaudu ulos</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
{% if session.username %}
    <div class="main">
        <div class="container">
            <div class="create_message">
                <h1>{{thread.topic}}</h1>
                <hr>
                <form action="/create_message/{{thread.id}}" method="POST">
                    <p>Kirjoita uusi viesti: </p>
                    <textarea name="content" id="" cols="100" rows="15" required></textarea>
                    <div class="create_button">
                        <button type="submit">Lähetä viesti</button>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
