<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewpoint" content="width=device-width", initial-scale=1>
        <title>Chatmate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css')}}">
    </head>
    <body>
        <header>
            <h1>Chatmate</h1>
        </header>
        <form action="/create_thread" method="POST">
            Syötä aihe: <br>
            <textarea name="topic" cols="30" rows="2" required></textarea> <br>
            <button type="submit">Luo uusi keskustelu</button>
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    </body>
</html>